<nav-Bar> </nav-Bar>

<div class = "admin-body">
<tr class= "addPlayer()">
      <td><input class ="input-box" ng-model="newPlayer.name" type="text" placeholder="Name"</td>
    </br>
      <td><select class ="input-box" ng-model="newPlayer.role" ng-options='x for x in roles'><option value="" disabled selected>Choose Role</option></select></td>
    </br>
      <td><select class = "input-box" ng-model="newPlayer.pClass" ng-options='x for x in classes'><option value="" disabled selected>Choose Class</option></select>  </td>
    </br>
      <td><input class = "input-box" ng-model="newPlayer.armory" type="text" placeholder="Armory url"</td>
    </br>
      <button class = "submit-box" ng-click="addPlayer(newPlayer.name, newPlayer.role, newPlayer.pClass, newPlayer.armory)">Add Player</button>
    </tr>

</br>
</br>
<tr class= "deletePlayer">
  <td><input class = "input-box" ng-model="name" type="text" placeholder="Delete Player"</td>
</br> 
  <button class = "submit-box" ng-click="deletePlayer(name)">Delete Player</button>
</tr>

</div>
